<?xml version="1.0"?>
<launch>

  <arg name="arm_enabled" default="false"/>


  <!-- Standalone launcher to visualize the robot model. -->
  <include file="$(find umbc_husky)/launch/description.launch">
    <arg name="arm_enabled" value="$(arg arm_enabled)"/>
  </include>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find umbc_husky)/rviz/model.rviz" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
</launch>
